body {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#text-editor {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
}

.btn-group {
    margin-top: 10px;
}

#logo {
    border: none;
    outline: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}